/config/parameters.yml

# default symfony ignores

/web/bundles/
/app/bootstrap.php.cache
/app/phpunit.xml
/build/

# app artifacts

/.cache/
/logs/

# vendor code

/node_modules/
/vendor/

# other artifacts

.cookbooks
.vagrant
