# default symfony ignores

/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/

# app artifacts

/logs/

# vendor code

/node_modules/
/vendor/

# other artifacts

.cookbooks
.vagrant
