build/

# custom configuration

phpunit.xml
config/parameters.yml

# app artifacts

.cache/
logs/
resources/coverage

# vendor code

node_modules/
vendor/
web/bundles/

# other artifacts

.cookbooks
.vagrant
