parameters:
    mysql.username:     root
    mysql.password:     vagrant
    mysql.hostname:     127.0.0.1
    mysql.database:     symfonyapp

    # A secret key that's used to generate certain security-related tokens
    secret:             ThisIsNotSoSecretSoChangeIt
